@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/*
:root {

  font-family: "Rubik", sans-serif;


  background: rgb(249, 245, 253);
  background: linear-gradient(
    180deg,
    rgba(249, 245, 253, 1) 0%,
    rgba(254, 254, 255, 1) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*/

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  gap: 1em;
  padding: 1em;
  justify-content: center;
  max-width: 1260px;
  width: 96%;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1em;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */

  min-width: 160px;
  max-width: 260px;
  background: #fff;
  border: 1px solid #eaeff2;
  border-radius: 8px;
  border-top: 8px solid tomato;
  padding: 24px 20px;
  position: relative;
  transition: all 0.25s;
  margin: 0 auto;
  width: 90%;
}
.plan-info-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0 1em;
  gap: 0.5em;
}

.plan-info-name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #1a1a1a;
}
.amount {
  color: #1a1a1a;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 4px;
}

.plan-info-visitors {
  align-items: center;
  -moz-column-gap: 5px;
  column-gap: 5px;
  display: inline-flex;
  background: #f7f7f7;
  border-radius: 32px;
  color: hotpink;
  font-size: 12.5px;
  padding: 5px 15px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1em;
  padding-top: 18px;
  padding-bottom: 1.5rem;
  color: rgb(73, 104, 126) !important;
}

.feature-title {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 0;
}

.primary-btn {
  background-color: #6558b9;
  fill-opacity: 0.2;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-weight: 400;
  line-height: 40px;
  margin-top: auto;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 100%;
  font-size: 1rem;
  border: none;
}
.primary-btn:hover {
  background-color: #2d0dff;
}

/* Laptop view (3 columns) */
@media (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for laptops */
  }
}

/* Tablet view (2 columns) */
@media (max-width: 992px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }
}
/* Tablet view (2 columns) */
@media (max-width: 560px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr); /* 2 columns for tablets */
  }
}

/* Mobile view (1 column) */
@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: 1fr; /* 1 column for mobile */
  }
}
